<div class="container mb-4">

    <form class="col-md-8 offset-2" id="reg_form" [formGroup] ="loginForm" (ngSubmit)="submitEventHandeler()">
        <fieldset class="">

            <!-- Login Form  -->
            <legend>
                    <h2 class="mt-4 text-center"><b>LogIn Form</b><br>               
                    </h2>
            </legend><br>
            <!-- Text input-->
            <div class="form-group row">
                <label class="col-md-10 offset-1 control-label"><b>Username </b></label>
                <div class="col-md-10 offset-1 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle icon"></i></span>
                        <input name="username" id="username" [(ngModel)]="username" formControlName="username" placeholder="Username" class="form-control" type="text">
                    </div>

                </div>
                <div *ngIf="loginForm.get('username').errors?.required && (!loginForm.get('username').pristine || (loginForm.get('username').touched))">
                    <span class="text-danger text-center">*Username Required</span> 
                </div>
                <div *ngIf="loginForm.get('username').errors?.pattern && (!loginForm.get('username').pristine || (loginForm.get('username').touched))">
                    <span class="text-danger text-center">*Username should contain only Digit and alphabet</span> 
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group row">
                <label class="col-md-10 offset-1 control-label"><b>E-Mail</b></label>
                <div class="col-md-10 offset-1 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope icon"></i></span>
                        <input name="email" formControlName="email" placeholder="E-Mail Address" class="form-control" type="text">
      
                    </div>
                </div>
                <div *ngIf="loginForm.get('email').errors?.required && (!loginForm.get('email').pristine || loginForm.get('email').touched)">
                    <span class="text-danger text-center justify-content-center">Email Required</span>
                  </div>
                  <div *ngIf="loginForm.get('email').errors?.email && (!loginForm.get('email').pristine || loginForm.get('email').touched)">
                    <span class="text-danger text-center justify-content-center">Please Enter Correct format of Email</span> 
                  </div>
            </div>

            <!-- Text input-->

            <div class="form-group row">
                <label class="col-md-10 offset-1 control-label"><b>Password</b></label>
                <div class="col-md-10 offset-1 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock icon"> </i></span>
                        <input name="password" formControlName="password"  placeholder="Password" class="form-control" type="password">

                    </div>
                </div>
                <div *ngIf="loginForm.get('password').errors?.required && (!loginForm.get('password').pristine || loginForm.get('password').touched)">
                    <span class="text-danger text-center justify-content-center">Password Required</span> 
                  </div>

                  <div *ngIf="loginForm.get('password').errors?.minlength && (!loginForm.get('password').pristine || loginForm.get('password').touched)">
                    <span class="text-danger text-center justify-content-center">Password should have atleast 8 character</span> 
                  </div>

                  <div *ngIf="!loginForm.get('password').errors?.pattern && (!loginForm.get('password').pristine || loginForm.get('password').touched)">
                    <span class="text-danger text-center justify-content-center">Enter special characters</span>
                  </div>
            </div>


            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up "></i> Success!.</div>

            <!-- Button -->
            <div class="form-group row ">
                <div class="col-md-6 offset-3 text-center ">
                    <button type="submit" class="btn btn-success">LogIn <i class="fa fa-bowling-pins"></i></button>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-6 offset-3 text-center ">
                    <small><a routerLink="/signup">I don't have an Account</a></small>
                </div>
            </div>
        </fieldset>
    </form>
    <!-- {{username}} -->
</div>
