<!-- <div>
    <h1>
        Welcmoe to Directive
    </h1>
</div>
<div [ngStyle]="styleObject">
    <p>
        There are threetypes of Directive
    </p>
    <input type="button" (click) = "changeStyle()" class="btn btn-primary" value="ChangeStyle" >
    
    <ul>
        <li>
            Structural Directive -- *ngFor  *ngSwitch *ng IF
        </li>
        <li>
            Attribute dir - ngclass ng style classstyle
        </li>
        <li>
            Component Directive
        </li>
        <li>
            Custom Directive
        </li>
    </ul>
</div> -->

<div class="container mt-2">
    <div class="row mt-5 pt-4">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Manager</h5>
            <div class="card-text text-black-50">Founder,Web Developer</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Question Setters</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Maintainer of Online Tests</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
    <div class="col-md-12 text-primary text-justify" style="font-size:1.5vw">
            <p>
                Online Test Center offering<br>
Vision
Our vision is to bring credible and genuine assessment to various aspects of education, training and employment.Aspiring Minds strives to help institutions and companies from choosing the 'right' individual rather than the 'best' individual.
<br>
Mission
Aspiring Minds envisions a scalable, equitable, merit driven labor market providing credibility and access to talent and opportunity.Our mission is to establish one scientific and credible approach to measuring talent and matching it to opportunity.
<br>
Management
Founded by Varun and Himanshu, the Aspiring Minds team is 160 people strong, boasting of alumni of premier institutions such IIMs, IITs and NITs with dozens of years of experience at various large corporate and MNCs. With offices in Delhi, Bangalore and Mumbai and full-time presence across all major cities, Aspiring Minds team is committed to servicing its clients and partners at the highest possible standards.
            </p>
    </div>



    </div>
  
  </div>
  <!-- /.container -->
